.theme{
    --Primary-color:#1E2856;
    --Secondary-color: #006BED;
    --button-color:#1E2856;
    --button-hover-color: #006BED;
    --button-text-color: #fff;
    --button-text-hover-color: #fff;
    --golden-gradient: linear-gradient(195deg, #1E2856, #006BED);
}